.padiautocompleteresult{
    position: absolute;
    z-index: 100;
    padding: 1px;
}
.padiautocompleteresult #result{
    list-style: none;
    background: yellowgreen;
    margin: 1px;
}
.padiautocompleteresult #result .selected{
    background: red;
}